[flake8]
max-line-length = 120
max-complexity = 12
type-checking-pydantic-enabled = true
ignore = E501, PT006, W503
classmethod-decorators =
    classmethod
    validator

per-file-ignores =
    tests/*:SCS108
